$float: 1.23;

$positiveFloat: +1.23;
$negativeFloat: -1.23;

$noLeadingFloat: .123;
$positiveNoLeadingFloat: +.123;
$negativeNoLeadingFloat: -.123;

$noTrailingFloat: 123.;
$positiveNoTrailingFloat: +123.;
$negativeNoTrailingFloat: -123.;